*{
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 0;
}


/* Prevent all horizontal scrolling */
html, body {
    overflow-x: hidden;
    width: 100%;
  }
  
.body2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10px;
    z-index: 1000;
}


.head-main {
    height: 70px;
    position: relative;
   background-color: #17A589;
   display: flex;
   /*justify-content: ;*/
   align-items: center;
   list-style: none;
   position: relative;
   padding: 6px 18px;
   z-index: 1000;
}

.head-main img {
    width: 55px;
    display: flex;
    height: 55px;
    
}


.about {
    width: 100%;
   padding: 78px 0px;
    background-color: whitesmoke;
    
}

.about img {
    height: auto;
    width: 420px; 
}

.about-text {
    width: 550px;
}

.main-intro {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    width: 900px;
    color: black;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text p {
    color: black;
    letter-spacing: 1px;
    line-height: 18px;
    font-size: 18px;
    
    Display: flex;
   
}



.main-quotes p {
    font-size: 18px;
    line-height: 20px;
    color: black;
    font-family: robote;
}

.midle-text {
    font-size: 1.4rem;
    
    padding-bottom: 20px;
    font-family: robote;
}


/* CATEGORY SECTION */

.index-category {
    width:100%;
    padding-bottom: 05px;
    background-color: #17A589;
    display: flex;
    justify-content: center;
    column-gap: 25px;
    flex-wrap: wrap;
}


.index-category p {
    color: rgb(3, 3, 3);
    text-align: center;
    font-weight: 600;
    padding-bottom: 10px;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: 20px;
    text-shadow: -2px 2px 4px rgb(10, 10, 9);
}

.index-category-box {
    width:110px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

.category_1 {
    width: 95%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
    margin-bottom: 20px;
}

.categoryImage1 {
    width: 40%;
    height: auto;
}

.category_2 {
    width: 95%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
    margin-bottom: 20px;
}

.categoryImage2 {
    width: 40%;
    height: auto;
}

.category_3 {
    width: 95%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
    margin-bottom: 20px;
}

.categoryImage3 {
    margin-top: 2%;
    width: 30%;
    height: auto;
}

/* Category section styling */
.index-category {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  
  /* Category container */
  .category-container {
    width: 95%;
    margin-bottom: 20px;
    background-color: white;
  }
  
  /* Category box/link */
  .category-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    position: relative;
  }
  
  /* Image wrapper - crucial for positioning */
  .image-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* Category images */
  .category-img {
    width: 40%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
  }
  
  /* Special case for 55gal image */
  .category-container:nth-child(3) .category-img {
    width: 30%;
    margin-top: 2%;
  }
  
  /* Dark overlay */
  .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: none;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Allows clicks to pass through */
  }
  
  /* Hover effects */
  .category-box:hover .dark-overlay {
    opacity: 0;
  }
  
  .category-box:hover .category-img {
    transform: scale(1.05); /* Optional: slight zoom effect */
  }

    


/* ABOUT SECTION */
.index-about {
    width: 100%;
    height: 40vh;
    background-color: rgb(81, 82, 75);
    
   
}

.index-about-text p {
    clear: both;
    text-align: center;
    justify-content: center;
    padding-left: 50px;
    padding-top: 20px;

}

.index-about-text h3 {
    text-align: center;
    padding-left: 50px;
    padding-top: 35px;
}


.header-main-span {
    display: flex;
    padding-right: 900px;
}

.header-main-span-1 {
    display: none;
}

.header-main-span li {
    display: inline;
    margin-left: 100px;
    list-style: none;
   
}  


.header-main-span ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.header-main-span ul li a::after {
    /*content: ;*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.header-main-span ul li a:hover:after {
    width: 100%;
}

.list {
    font-size: 12px;
}

.header-main-sm {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header-main-sm-fb{
    width: 25px;
    height: 25px;
    background-image: url(img/facebook\ logo\ in\ black.png);
    background-repeat:no-repeat;
    background-size: cover;
}

.sm-line {
    font-size: 0.6rem;
    text-align: center;
}

.header-main-sm-fb:hover{
    background-image: url(img/Facebook_icon.svg.png);
}
.header-main-sm-ing{
    width: 20px;
    height: 20px;
    background-image: url(img/instagram\ logo\ in\ black.png);
    background-repeat:no-repeat;
    background-size: cover;
}

.header-main-sm-ing:hover{
    background-image: url(img/instagram\ logo.jpg);
}

.header-main-sm-tter{
    width: 20px;
    height: 20px;
    background-image: url(img/twiter-black.png);
    background-repeat:no-repeat;
    background-size: cover;
}

.header-main-sm-tter:hover{
    background-image: url(img/twiter-blue.png);
}

.header-main-sm-tg{
    width: 25px;
    height: 25px;
    background-image: url(img/telegrame\ icon\ Noir.png);
    background-repeat:no-repeat;
    background-size: cover;
}

/* second header */

.header-main-sm-1 {
    display: none;
}

.header-main-sm-fb-1{
    width: 25px;
    height: 25px;
    background-image: url(img/facebook\ logo\ in\ black.png);
    background-repeat:no-repeat;
    background-size: cover;
}

.header-main-sm-fb-1:hover{
    background-image: url(img/Facebook_icon.svg.png);
}
.header-main-sm-ing-1 {
    width: 20px;
    height: 20px;
    background-image: url(img/instagram\ logo\ in\ black.png);
    background-repeat:no-repeat;
    background-size: cover;
}

.header-main-sm-ing-1:hover{
    background-image: url(img/instagram\ logo.jpg);
}

.header-main-sm-tter-1{
    width: 20px;
    height: 20px;
    background-image: url(img/twiter-black.png);
    background-repeat:no-repeat;
    background-size: cover;
}

.header-main-sm-tter-1:hover{
    background-image: url(img/twiter-blue.png);
}

.header-main-sm-tg-1 {
    width: 25px;
    height: 25px;
    background-image: url(img/telegrame\ icon\ Noir.png);
    background-repeat:no-repeat;
    background-size: cover;
}

.header-main-sm-tg-1:hover{
    background-image: url(img/telegrame\ icon\ bleu.png);
}


.header-main-span ul li ul li a {
    background-color: #17A589;
    color: rgb(0, 0, 0);
    border-top: 2px;
    text-align: left;
}

.header-main-span ul li ul li a:hover {
    background-color: ghostwhite;
    color: rgb(5, 5, 5);
}

.header-main-span ul li:focus>ul,
.header-main-span ul li:hover>ul {
    display: flex;
    visibility: visible;
    opacity: 1;
}


/* DROPDOWN STYLING START */

.header-main-span ul li ul {
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    left: -100px;
    transition: all ease-in-out 100ms;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: absolute;
    height: 80vh;
    padding: 2px;
    padding-left: 90px;
}


.header-main-span ul li a {
display: block;
text-align: center;
text-decoration: non;
padding: 14px 16px;
left: 55px;
padding: 0 05px;
font-family: 'Kalnia', serif;
color: black;  
height: 100%;
font-weight: bold;
}


.header-main-span ul li ul li a{
    padding: 10px;
    white-space: nowrap;
}



.header-main-span {
    background-color: #17A589;
    width: fit-content;
    height: 100%;
}

.header-main-span ul {
    margin-top: 0;
    list-style: one;
    margin-left: 35px;
    align-items: left;
}

.header-main-nav ul li {
    display: inline;
    float: left;
}


ul li:hover>ul {
    visibility: visible;
    opacity: 1;
    display: block;
}

/*footer*/

.index-footer-a {
    width: 6%;
    background-color: #17A589;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    color: #FFFFE0;
    margin-left: 8%;

}

.index-footer-a:hover {
background-color: lightgreen;
color: black;
}


.index-footer-b {
    width: 6%;
    background-color: #17A589;
    border-radius: 10px;
    border: none;
    margin-left: 85%;
    color: #FFFFE0;
    font-size: 12px;
    margin-bottom: 45px;
    margin-top: -7px;
}

.index-footer-b:hover {
    background-color: lightgreen;
    color: black;
}
    

.index-h {

    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    margin-top: -20px;
    padding: -40px;
}

.index-h p {
    font-size: 1.1rem;
    text-align: center;
    font-family: robote;
}



/*SECOND CSS*/
:root {
  --color1: ghostwhite;
  --color2: #32CD32;
}

body {
  background-color: var(--color1);
  position: relative; /* needed for ::after positioning */
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Changed font to Roboto */
}

/* Add multiple social icons as faint background images */
body::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    url("img/Facebook logo in black.png"),
    url("img/instagram logo in black.jpg"),
    url("img/tweeter icon noir.jpg"),
    url("img/telegram icon noir.jpg");
  background-repeat: no-repeat;
  background-position: 10% 10%, 10% 40%, 10% 70%, 90% 90%;
  background-size: 40px 40px, 35px 35px, 30px 30px, 35px 35px;
  opacity: 0.05; /* subtle */
  pointer-events: none;
}

/* Headings */
h2 {
  font-size: 1.6rem;
  line-height: 1.8;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}

h3 {
  font-size: 1rem;
  color: black;
  font-weight: 600;
  margin: 0 0 0.5rem 0;
}

h4 {
  font-weight: 600;
  font-size: 1rem;
  color: black;
  float: right;
  margin-top: -25px;
  margin-bottom: 1rem;
}

/* Hide burger menu and button by default */
.burger-menu,
.burger-menu-btn {
  display: none;
}





/* MOBILE VERSION */

@media only screen and (max-width: 786px) {

html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


.body2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10px;
    z-index: 1000;
}

.head-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color2);
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    background-color: #17A589;
}

.head-main img {
    width: 55px;
    display: flex;
    height: 55pxpx;
}

.header-main-span {
    background-color: #17A589;
    display: none;
}

.header-main-span-1 {
    display: flex;
    padding-right: 900px;
}


.midle-text p {
    font-size: 1.4rem;
   line-height: 20px;
    color: black;
    /*font-family: robote;*/
    padding-left: 6px;
}

.index-category {
   flex-direction: column;
   align-items: center;
    background-color: ghostwhite;
    row-gap: -10px;
   
}

.vetification-btn h4 {
    
    text-align: center;
  }

.index-category p {
    color: rgb(3, 3, 3);
    text-align: center;
    font-weight: 600;
    padding-bottom: 10px;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: 20px;
    text-shadow: -2px 2px 4px rgb(10, 10, 9);
}


.index-category-box {
    width: calc(100% - 20px);
    height: 20vh;
    
}

}