:root {
  --color1: ghostwhite;
  --color2: #32CD32;
}

body {
  background-color: var(--color1);
  position: relative; /* needed for ::after positioning */
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Changed font to Roboto */
}

/* Add multiple social icons as faint background images */
body::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    url("img/Facebook logo in black.png"),
    url("img/instagram logo in black.jpg"),
    url("img/tweeter icon noir.jpg"),
    url("img/telegram icon noir.jpg");
  background-repeat: no-repeat;
  background-position: 10% 10%, 10% 40%, 10% 70%, 90% 90%;
  background-size: 40px 40px, 35px 35px, 30px 30px, 35px 35px;
  opacity: 0.05; /* subtle */
  pointer-events: none;
}

/* Headings */
h2 {
  font-size: 1.6rem;
  line-height: 1.8;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}

h3 {
  font-size: 1rem;
  color: black;
  font-weight: 600;
  margin: 0 0 0.5rem 0;
}


/* Hide burger menu and button by default */
.burger-menu,
.burger-menu-btn {
  display: none;
}


.about-text h1{
  width: 900px;
  color: black;
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text p {
  color: black;
  letter-spacing: 1px;
  line-height: 18px;
  font-size: 18px;
  margin-bottom: 45px;
  Display: flex;
 
}
/* MOBILE VERSION */
@media only screen and (max-width: 786px) {

  .burger-menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("img/menu-50.png"), url("img/close.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, calc(100% + 50px) center;
    border: none;
    cursor: pointer;
  }

  .burger-menu {
    display: none; /* hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* full viewport width */
    height: 100vh;
    z-index: 900;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 80px;
    overflow-y: auto;
  }

  .burger-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .burger-menu ul li {
    border-top: 0.5px solid rgba(0, 0, 0, 0.6);
    padding-left: 30px;
    text-align: left;
  }

  .burger-menu ul li:first-child {
    border-top: none;
    padding-left: 25px;
    padding-bottom: 30px;
  }

  .burger-menu ul li a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
    padding: 8px 0;
  }

  .burger-menu ul li:nth-child(4) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    padding-bottom: 30px;
  }

  /* Hide about image */
  .about img {
    display: none;
  }

  .about-text {
    width: 100%;
    
    margin: 20px 0;
    padding: 0 15px; /* un peu de marge à gauche/droite */
  }
  
  .about-text h1 {
    width: auto; /* ✅ supprime la largeur fixe */
    font-size: 1.8rem;
    color: black;
    text-transform: capitalize;
    text-align: center; /* facultatif si hérité */
    margin: 0 auto;
  }
  
  .about-text p {
    font-size: 0.8rem;
    line-height: 1.4;
    color: black;
    
    display: block; /* ✅ supprime display: flex */
    margin-bottom:-40px;
  }
  

  /* Main quotes */
  .main2 {
    background-color: whitesmoke;
  }

  .main-quotes p {
    font-size: 0.8rem;
    line-height: 1.4;
    color: black;
    font-family: 'Roboto', sans-serif;
   
    padding: 0 25px;
    margin-top: -4%;
    margin-bottom: 0;
  }

  .main-quotes h2 {
    margin-top: 5%;
    text-align: center;
  }

  /* Middle text */
  .midle-text {
    font-size: 0.8rem;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    padding-left: 5%;
  }

  .midle-text p {
    
    font-size: 0.8rem;
    
  }

  /* Index paragraph */
  .index-h p {
    font-size: 0.8rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  /* Footer */
  .index-h3 h3 {
    margin-top: 30px;
    font-size: 0.8rem;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  .index-h3 {
    
      align-content: center;
  }

  .vetification-btn h4 {
    padding-right: 32%;
    margin-top: 5px;
    font-size: 0.8rem;
    margin-bottom: 5px;

  }

  .vetification-btn {
    margin-top: 25px;
    margin-bottom: -15px;
    margin-right: 15%;
    font-weight: 600;
    font-size: 0.8rem;
    color: black;
    font-family: 'Roboto', sans-serif;
    
  }


  .index-footer-a {
    align-items: center;
    width: 85%;
    background-color:#17A589;
    border-radius: 10px;
    border: none;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
  
  }

  .index-footer-b {
    align-items: center;
    width: 100%;
    background-color:#17A589;
    border-radius: 10px;
    border: none;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
   margin-left: 10%;
  }

  .index-footer-a:hover,
  .index-footer-b:hover {
    background-color: lightgreen;
    color: black;
  }


  /* Header small screen */
  .header-main-sm {
    display: none;
  }

  .header-main-sm-1 {
    width: fit-content;
    height: 100%;
    display: flex;
    padding-left: 34vw;
    column-gap: 10px;
    align-items: center;
  }

  .sm-line {
    padding-left: 10px;
    padding-bottom: 10px;
  }

  /* Social icon styles */
  .header-main-sm-fb-1,
  .header-main-sm-ing-1,
  .header-main-sm-tter-1,
  .header-main-sm-tg-1 {
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  .header-main-sm-fb-1 {
    width: 25px;
    height: 25px;
    background-image: url("img/facebook logo in black.png");
  }
  .header-main-sm-fb-1:hover {
    background-image: url("img/Facebook_icon.svg.png");
  }

  .header-main-sm-ing-1 {
    width: 20px;
    height: 20px;
    background-image: url("img/instagram logo in black.png");
  }
  .header-main-sm-ing-1:hover {
    background-image: url("img/instagram logo.jpg");
  }

  .header-main-sm-tter-1 {
    width: 20px;
    height: 20px;
    background-image: url("img/twiter-black.png");
  }
  .header-main-sm-tter-1:hover {
    background-image: url("img/twiter-blue.png");
  }

  .header-main-sm-tg-1 {
    width: 25px;
    height: 25px;
    background-image: url("img/telegrame icon Noir.png");
  }
  .header-main-sm-tg-1:hover {
    background-image: url("img/telegrame icon bleu.png");
  }
}
