/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: linear-gradient(135deg, #f5f7fa, #e2c3c5);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }


  /*end of the close*/

  form {
	background: white;
	padding: 90px 40px;
	border-radius: 12px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
	width: 110%;
	height: 55%;
	max-width: 800px;
  }
  
  form h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #333;
	font-size: 40px;
  }
  
  form label {
	display: block;
	margin-bottom: 15px;
	color: #444;
	font-size: 30px;
  }
  
  form input[type="text"],
  form input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	font-size: 45px;
	border: 2px solid #ccc;
	border-radius: 8px;
	outline: none;
  }
  
  form button {
	width: 100%;
	padding: 18px;
	margin-top: 70px;
	background-color: #28a745;
	border: none;
	color: white;
	font-size: 30px;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  form button:hover {
	background-color: #218838;
  }
  















